:root {
--accent-redish: #FB3B64;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    margin: 0 auto;
}
body {
    font-family: 'Open Sans', 'Raleway', sans-serif;
}
.header {
    width: 100%;
    height: 70px;
}
.container-header {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    height: 70px;
    box-shadow: 0 3px 6px #00000029;
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.header-logo {
    margin-left: 50px;
    color: #08A6E4;
    font-size: 32px;
    height: 37px;
    font-weight: 300;
}
.page-nav-list {
    display: flex;
}
.page-nav-list li {
    margin-right: 100px;
    margin-top: 25px;
}
.page-nav-list li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #A5A5A5;
    height: 15px;
    text-align: center;
    letter-spacing: 3.28px;
    font-weight: bold;
    font-size: 11px;
    border-bottom: 4px solid transparent;
}
.page-nav-list a:hover {
    color: black;
    cursor: pointer;
    padding-bottom: 25px;
    border-bottom: 3px solid #08A6E4;
}
.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 -5px 80px #00000029;
}
.about-title {
    padding: 30px;
    margin-top: 30px;
    font-size: 49px;
    font-family: 'Raleway', sans-serif;
}
.about-des {
    font-size: 16px;
    height: 22px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;
}
.btn {
    background-color: #08A6E4;
    border: none;
    box-shadow: 5px 10px 14px #07ACE629;
    padding: 20px 160px;
    border-radius: 40px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    display: inline-block;
}
.about-banner img {
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}
.about-statistics {
    margin-top: 100px

}
.statistics-container {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 100px auto 120px;
}
h2 {
    font-size: 36px;
    text-align: center;
    font-family: Raleway, sans-serif;
}
.statistics-single {
    max-width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-family: Raleway, sans-serif;
}
.statistics-circle {
    border-radius: 50%;
    width: 63px;
    height: 63px;
    position: relative;
}
.statistics-img {
    position: absolute;
}
.statistics-single:nth-child(1) .statistics-circle {
    background-color: #FB3B64;
}
.statistics-single:nth-child(1) .statistics-img {
    top: 5px;
    left: 50%;
}
.statistics-single:nth-child(2) .statistics-circle {
    background-color: #08A6E4;
}
.statistics-single:nth-child(2) .statistics-img {
    top: 14px;
    left: 32%;
}
.statistics-single:nth-child(3) .statistics-circle{
    background-color: #55DFB4;
}
.statistics-single:nth-child(3) .statistics-img {
    top: 6px;
    left: 50%;
}
.statistics-number {
    font-size: 20px;
    height: 24px;
    letter-spacing: 5.96px;
    font-weight: 800;
    margin-top: 10px;
    text-align: center;
}
.statistics-description {
    color: #A5A5A5;
    font-size: 16px;
    height: 48px;
    margin-top: 12px;
}
.benefits {    
    background-color: #F7F7F7;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container-benefits {
    padding: 0 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px 100px;
    max-width: 1300px;
}
.box-benefits {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 1px solid #E8E9ED;
    width: 1100px;
    box-shadow: 0px 3px 6px #00000029;
    margin-bottom: 30px;
    height: 370px;  
}
.benefits-text {
    max-width: 415px;
    margin: 90px 36px
}
.benefits-title {
    font-size: 36px;
    font-family: Raleway, sans-serif;
    margin-bottom: 30px;
    
}
.benefits-des-macbook {
    font-size: 16px;
    line-height: 22px;
    margin-top: 20px;
}
.benefits-des-macbook::after {
    content: "";
    height: 4px;
    background-color: #FB3B64;
    display: block;
    margin-top: 50px;
    width: 300px;
}
.benefits-notebook-image {
    position: relative;
    z-index: 2;
}
.benefits-notebook-image img {
    position: relative;
    width: 300px;
    height: 180px;
    margin-right: 120px;
    margin-top: 50px;
    display: block;
}
.benefits-notebook-image::before {
    content: "";
    width: 180px;
    height: 180px;
    background-color: #FB3B64;
    border-radius: 41px;
    position: absolute;
    transform: rotate(45deg);
    display: block;
    left: 120px;
}
.benefits-single-iphone{
    display: flex;
    flex-direction: row-reverse;
}
.benefits-des-iphone {
    font-size: 16px;
    line-height: 22px;
    margin-top: 20px;
}
.benefits-des-iphone::after {
    content: "";
    height: 4px;
    background-color:#07ACE6;
    display: block;
    margin-top: 50px;
    width: 300px;
}
.benefits-iphone-image {
    position: relative;
    z-index: 2;
}
.benefits-iphone-image img {
    position: relative;
    width: 426px;
    height: 328px;
    margin-left: 80px;
    top: 20px;
    display: block;
}
.benefits-iphone-image::before {
    content: "";
    width: 300px;
    height: 300px;
    background-color: #07ACE6;
    border-radius: 50%;
    position: absolute;
    display: block;
    left: 80px;
    top: 0;   
}
.benefits-double {
    display: inline-flex;
    align-items: center;
    background-color: white;
    border: 1px solid #E8E9ED;
    width: 623px;
    box-shadow: 0px 3px 6px #00000029;
    margin-bottom: 30px;
    height: 370px; 
}
.benefits-double-image {
    border: 0 solid #E8E9ED;
    background-color: #55DFB4;
    height: 370px;
    width: 440px;
    border-radius: 5px;
    box-shadow: 0 3px 6px #55DFB4;
}
.box-benefits-double-total {
    display: flex;
    justify-content: space-between;
}
.benefits-des-double {
    font-size: 16px;
    line-height: 22px;
    margin-top: 20px;
}
.benefits-des-double::after {
    content: "";
    height: 4px;
    background-color: #55DFB4;
    display: block;
    margin-top: 50px;
    width: 300px;
}
.benefits-trumpet-image img {
    position: relative;
    width: 296px;
    height: 208px;
    margin-left: 80px;
    top: 90px;
    display: block;
}
.pricing {
    margin: 100px auto;
}
.pricing-title {
    margin-top: 70px;
    font-size: 36px;
}
.pricing-boxes {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
    padding: 50px;
}
.pricing-box {
    border-radius: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.pricing-box {
    margin-top: 20px;
    text-align: center;
}
.pricing-box-basic {
    border: 1px solid #FB3B64;
    height: 461px;
    width: 372px;
}
.pricing-box-basic .pricing-type {
    font-size: 20px;
}
.pricing-box-basic .pricing-amount {
    font-size: 46px;
    margin-top: 20px;
    color: #FB3B64;
    font-family: "Open Sans", sans-serif;
}
.pricing-list {
    margin-top: 15px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}
li {
    margin-bottom: 20px;
}
.pricing-box-professional {
    border: 1px solid #07ACE6;
    box-shadow: 5px 10px 27px #07ACE629;
    width: 405px;
    height: 500px;
}
.pricing-type {
    margin-top: 40px;
    font-family: Raleway, sans-serif;
    font-weight: bold;
}
.pricing-box-professional .pricing-type {
    font-size: 21px;
}
.pricing-box-professional .pricing-amount {
    font-size: 46px;
    color: #07ACE6;
    margin-top: 20px;
    font-family: "Open Sans", sans-serif;
}
.pricing-box-premium {
    border: 1px solid #55DFB4;
    height: 461px;
    width: 372px;
}
.pricing-box-premium .pricing-amount {
    font-size: 46px;
    color: #55DFB4;
    margin-top: 20px;
    font-family: "Open Sans", sans-serif;
}
.pricing-box-basic .button {
    background-color: #EB476E;
    color: white;
    padding: 18px 55px;
    border-radius: 23px;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}
.pricing-box-professional .button {
    background-color: #07ACE6;
    box-shadow: 5px 10px 14px #07ACE629;
    color: white;
    padding: 18px 55px;
    border-radius: 23px;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}
.pricing-box-premium .button {
    background-color: #55DFB4;
    color: white;
    padding: 18px 55px;
    border-radius: 23px;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}
.pricing-box .button {
    position: relative;
    bottom: -25px;
}
.limited-offer {
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
    font-family: Raleway, sans-serif;
}
.pricing-item::before {
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    background-repeat: no-repeat;
    margin-right: 10px;
    background-image: url("../images/Ckechmark-1.svg");
}
.pricing-item--not::before {
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    background-repeat: no-repeat;
    margin-right: 10px;
    background-image: url("../images/Close.svg");
}
.contact {
    padding: 50px 100px 100px;
    display: flex;
    justify-content: center;
    margin-left: 100px;
}
.contact-column {
    max-width: 50%;
    margin-right: 20px;
    margin-left: 50px;
}
.contact-title {
    font-size: 49px;
    text-align: left;
}
.contact-des {
    margin-top: 30px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    height: 22px;
    margin-bottom: 35px;
}
.contact-details a {
    margin-right: 25px;
    color: #A5A5A5;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
}

.details-info-email::before {
    content: "";
    width: 25px;
    height: 25px;
    display: inline-block;
    background-repeat: no-repeat;
    margin-right: 10px;
    background-image: url("../images/Mail Icon.svg");
}
.details-info-number::before {
    content: "";
    width: 25px;
    height: 25px;
    display: inline-block;
    background-repeat: no-repeat;
    margin-right: 10px;
    background-image: url("../images/Phone Icon.svg");

}
.form {
    display: flex;
    flex-direction: column;
}
.form-field {
    padding: 30px;
    display: flex;
    flex-direction: column;

}
.form-details {
    color: #08A6E4;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 3.28px;
}
.form-input-name,
.form-input-email {
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #A5A5A5;
    line-height: 25px;
    width: 400px;
}
.checkbox-content {
    margin-bottom: 30px;
}
.form-checkbox {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}
.form-checkbox input {
    position: absolute;
    visibility: hidden;
    cursor: pointer;
    height: 0;
    width: 0;
}
.form-checkbox .checkbox {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: white;
    border: 1px solid #95989A;
    border-radius: 4px;

}
.form-checkbox input:checked + span {
    background-image: url("../images/Checkmark.svg");
    background-repeat: no-repeat;
    background-position: center;

}
.checkbox-text {
    margin-left: 30px;
    margin-right: 80px;
    color: #707070;
    font-size: 12px;
    line-height: 17px;
}
.form .btn--send {
    padding-left: 30px 120px;
    max-width: 220px;
    height: 57px;
    color: white;
    background-color: #08A6E4;
    border: none;
    border-radius: 35px;
    box-shadow: 5px 10px 14px #07ACE629;
    font-size: 15px;
    font-weight: bold;
    margin-left: 250px;
    cursor: pointer;
}
.footer {
    background-color: #F7F7F7;
    box-shadow: 0px -5px 40px #00000029;
    height: 89px;
}
.container-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-details {
    display: flex;
    flex-direction: column; 
    padding: 20px;
    margin-left: 100px;
}
.footer-icons img:first-of-type {
    margin-right: 30px;
    width: 24px;
    height: 24px;
}
.footer-icons {
    padding: 40px;
    margin-right: 100px;
    
}
.logo-footer {
    color: #08A6E4;
    font-family: Raleway, sans-serif;
    font-weight: 300;
    font-size: 26px;
    height: 37px;
    text-decoration: none;
}
.footer-rights {
    color: #A5A5A5;
    font-size: 11px;
    height: 15px;
}
